
/*IPAD*/
@media only screen and (max-width: 768px) {
  h5 {
    font-size: 27px;
  }

  .light-green-container {
    width: 500px;
    height: 700px;
    left: 150px;
    top: 150px;
  }

  .dark-green-container {
    width: 470px;
    height: 710px;
    left: 90px;
    top: 200px;
  }

  .about-text-wrapper {
    margin-top: 10%;
  }
}

/*IPHONE 6+*/
@media only screen and (max-width: 414px) {
  h5 {
    font-size: 18px;
  }

  .light-green-container {
    width: 330px;
    height: 600px;
    left: 50px;
    top: 70px;
  }

  .dark-green-container {
    width: 320px;
    height: 600px;
    left: 30px;
    top: 100px;
  }

  .dark-green-container h5 {
    margin-bottom: 20px;
  }

  .about-text-wrapper p {
    font-size: 12px;
  }
}

/*IPHONE 6*/
@media only screen and (max-width: 375px) {
  .light-green-container {
    width: 330px;
    height: 550px;
    left: 30px;
    top: 60px;
  }

  .dark-green-container {
    width: 340px;
    height: 580px;
    left: 5px;
    top: 80px;
  }

  .about-text-wrapper {
    margin-top: 0;
  }
}

/*IPHONE 5*/
@media only screen and (max-width: 320px) {

}
