body.about-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/sport-bike-bicycle-fitness.jpg');
  background-size: 100% 100%;
}

.light-green-container {
  width: 700px;
  height: 450px;
  background-color: rgb(6, 214, 160);
  position: absolute;
  left: 350px;
  top: 80px;
  z-index: 1;
}

.dark-green-container {
  width: 800px;
  height: 450px;
  background-color: #013025;
  position: absolute;
  left: 200px;
  top: 120px;
  z-index: 1;
  color: white;
}

.dark-green-container h5 {
  /*border-bottom: 2px solid #06D6A0;*/
  /*padding-bottom: 3px;*/
}

.about-text-wrapper {
  width: 90%;
  margin-left: 5%;
  line-height: 25px;
  margin-top: 4%;
}
