

/* IPAD */
@media only screen and (max-width: 768px) {
  .intro-page-header h2 {
    padding-top: 30%;
  }

  .intro-page-header {
    margin-top: 10%;
  }
}

/* iPhone 6Plus */
@media only screen and (max-width: 414px) {
  .intro-page-header h2 {
    padding-top: 0;
  }

  .intro-page-header {
    margin-top: 50%;
  }
}

/* iPhone 6 */
@media only screen and (max-width: 375px) {
  .intro-page-header {
    margin-top: 60%;
  }
}

/* iPhone 5 */
@media only screen and (max-width: 320px) {
}
