
.usage-freq-question-wrapper {
  text-align: left;
  color: black;
  margin-left: 40%;
}

.usage-type-question-wrapper {
  text-align: left;
  color: black;
  margin-left: 43%;
}

.budget-question-wrapper {
  text-align: left;
  color: black;
  margin-left: 44%;
}

.gender-question-wrapper {
  text-align: left;
  color: black;
  margin-left: 45%;
}


#usage-frequency {
  display: none;
}

#budget {
  display: none;
}
