.usage-freq-question-wrapper {
  text-align: left;
  color: black;
  margin-left: 35%;
}

.usage-type-question-wrapper {
  text-align: left;
  color: black;
  margin-left: 43%;
}

.budget-question-wrapper {
  text-align: left;
  color: black;
  margin-left: 42%;
}
