@media only screen and (max-width: 768px) {
  .new-nav-container {
    width: 618px;
    left: 75px;
  }

  .new-nav-container #comp-name-questions-page {
    margin-right: 76%;
  }

  #past-experience-selections {
    margin-left: 4%;
  }

  .question-header-wrapper h3 {
    font-size: 25px;
    border: none;
  }

  .start-over-wrapper {
    margin-right: 100px;
  }

  .quiz-progress-container input.progress-nav-item-1 {
    left: 10%;
  }

  .quiz-progress-container input.progress-nav-item-2 {
    left: 13%;
  }

  .quiz-progress-container input.progress-nav-item-3 {
    left: 16%;
  }

  .quiz-progress-container input.progress-nav-item-4 {
    left: 19%;
  }

  .quiz-progress-container input.progress-nav-item-5 {
    left: 22%;
  }

  .quiz-progress-container input.progress-nav-item-6 {
    left: 25%;
  }

  .quiz-progress-container input.progress-nav-item-7 {
    left: 28%;
  }
}

@media only screen and (max-width: 414px) {

  .question-header-wrapper h3 {
    border-bottom: 2px solid #06D6A0;
  }
  
  h6 {
    margin-top: 5%;
  }

  form .row .col.offset-quiz-15 {
    margin-left: 0;
  }

  .new-nav-container {
    width: 380px;
    left: 40px;
  }

  .new-nav-container #comp-name-questions-page {
    margin-right: 55%;
  }

  .question-divider-wrapper {
    display: none;
  }

  form .row .col.offset-quiz-13 {
    margin-left: 0;
  }

  .question-header-wrapper h3 {
    display: table;
  }

  .question-wrapper-item {
    margin-top: 7%;
  }

  .past-experience-question-wrapper {
    margin-left: 0;
  }

  .quiz-progress-container input.progress-nav-item-2 {
    left: 15%;
  }
  .quiz-progress-container input.progress-nav-item-3 {
    left: 20%;
  }
  .quiz-progress-container input.progress-nav-item-4 {
    left: 25%;
  }
  .quiz-progress-container input.progress-nav-item-5 {
    left: 30%;
  }
  .quiz-progress-container input.progress-nav-item-6 {
    left: 35%;
  }
  .quiz-progress-container input.progress-nav-item-7 {
    left: 40%;
  }

  .start-over-wrapper {
    margin-top: 110px;
  }

  .start-over-wrapper {
    margin-right: 50px;
  }

  .snow-sand-question-wrapper {
    margin-left: 35%;
  }

  .budget-question-wrapper {
    margin-left: 20%;
  }

  .row .col.height-question-wrapper {
    margin-left: 30%;
  }

  .row .col.gender-question-wrapper {
    margin-left: 35%;
  }

  .row .col.smooth-ride-vs-parts-question-wrapper {
    margin-left: 10%;
  }

  #smooth-ride-vs-parts-header {
    margin-left: 18%;
  }

  #past-experience {
    margin-left: 10%;
  }

  #past-experience-selections {
    margin-left: 0;
  }

  #usage-type {
    margin-left: 25%;
  }

  #snow-sand {
    margin-left: 7%;
  }

  #budget {
    margin-left: 75px;
  }
}


@media only screen and (max-width: 375px) {
  .new-nav-container {
    width: 400px;
    left: 20px
  }

  .new-nav-container #comp-name-questions-page {
    margin-right: 52%;
  }

  .material-icons {
    font-size: 30px;
  }

  .quiz-progress-container input.progress-nav-item-1 {
    left: 5%;
  }

  .quiz-progress-container input.progress-nav-item-2 {
    left: 12%;
  }
  .quiz-progress-container input.progress-nav-item-3 {
    left: 19%;
  }
  .quiz-progress-container input.progress-nav-item-4 {
    left: 26%;
  }
  .quiz-progress-container input.progress-nav-item-5 {
    left: 33%;
  }
  .quiz-progress-container input.progress-nav-item-6 {
    left: 40%;
  }
  .quiz-progress-container input.progress-nav-item-7 {
    left: 47%;
  }

  .start-over-wrapper {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 320px) {
  .new-nav-container {
    width: 300px;
    left: 15px;
  }
}
