body {
  background: #00251C;
  /*background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/sport-bike-bicycle-fitness.jpg');*/
  background-size: 100% 100%;
}

.new-nav-container a {
  color: white;
}

h3 {
  color: white;
  margin: 0;
  text-align: left;
  font-size: 30px;
}

label {
  color: white;
}

h6 {
  color: white;
  text-align: left;
  font-family: Open Sans;
}

.question-divider {
  /*color:#00251C;*/
  border-right: 2px solid #06D6A0;
  line-height: 300px;
}

.question-divider-2 {
  /*color:#00251C;*/
}

.question-divider-wrapper {
  color: transparent;
}

/*.row .col.s4 {
  margin-left: none;
}*/

.question-wrapper-item {
  margin-top: 7%;
}

form .row .col.offset-quiz-20 {
  margin-left: 20%;
}

form .row .col.offset-quiz-15 {
  margin-left: 15%;
}

form .row .col.offset-quiz-13 {
  margin-left: 13%;
}

.quiz-progress-container input.progress-item {
  top: 120px;
  pointer-events: auto;
  opacity: 1;
  position: absolute;
}

.quiz-progress-container input.progress-nav-item-1 {
  left: 10%;
}

.quiz-progress-container input.progress-nav-item-2 {
  left: 12%;
}

.quiz-progress-container input.progress-nav-item-3 {
  left: 14%;
}

.quiz-progress-container input.progress-nav-item-4 {
  left: 16%;
}

.quiz-progress-container input.progress-nav-item-5 {
  left: 18%;
}

.quiz-progress-container input.progress-nav-item-6 {
  left: 20%;
}

.quiz-progress-container input.progress-nav-item-7 {
  left: 22%;
}

a .start-over-btn {
  vertical-align: middle;
}

.start-over-wrapper {
  color: white;
  float: right;
  margin-top: 120px;
  margin-right: 200px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #06D6A0;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:disabled:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #2E3532;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
