@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1023px) {
  .previous-arrow {
    top: 15%;
    font-size: 6rem;
    left: 4%;
  }

  .page-title {
    padding-top: 20%;
  }

  header {
    height: 1400px;
    width: 1000px;
  }

  .header-text {
    position: absolute;
    width: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

@media only screen and (max-width: 763px) {
  .previous-arrow {
    top: 25%;
    font-size: 4rem;
    left: 4%;
  }

  #slide-out {
    width: 170px;
  }

  header {
    height: 900px;
  }
}

@media only screen and (max-width: 480px) {
  .header-text {
    padding-top: 230px;
    top: auto;
    left: auto;
    width: 400px;
    bottom: auto;
    transform: none;
    padding-left: 7px;
  }

  h3 {
    font-size: 25px;
  }

  .usage-freq-question-wrapper {
    margin-left: 12%;
  }

  .usage-type-question-wrapper {
    margin-left: 36%;
  }

  .budget-question-wrapper {
    margin-left: 32%;
  }

  .previous-arrow {
    top: 25%;
    font-size: 4rem;
    left: 4%;
  }

  h5 {
    font-size: 15px;
  }

  .menu-more-links {
    font-size: 15px;
    left: 80%;
  }

  #slide-out {
    width: 160px;
  }

  .defintion {
    padding-top: 4%;
  }

  .page-title {
    padding-top: 35%;
    padding-bottom: 10%;
  }

  .your-bike-reason-text {
    width: 300px;
  }


  /* hompeage font needed to be smaller */
  h2 {
    font-size: 25px;
  }

  /* bc viewport height doesnt work on safari mobile */
  header {
    height: 1000px;
  }
}
