@media only screen and (max-width: 958px) {
  /* BEGIN navbar formatting*/
  .menu-more-links {
    font-size: 26px;
    left: 80%;
    top: 48px;
    position: absolute;
    line-height: 160%;
    /*display: none;*/
  }

  .header-links {
    display: none;
  }
  /* END navbar formatting */
}

@media only screen and (max-width: 1023px) {
  .previous-arrow {
    top: 15%;
    font-size: 6rem;
    left: 4%;
  }

  .page-title {
    padding-top: 6%;
  }

  header {
    height: 1400px;
    width: 1000px;
  }

  .header-text {
    position: absolute;
    width: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

/* iPad */
@media only screen and (max-width: 768px) {
  .bike-page-cards .card {
    width: 200px;
    margin-left: 36%;
  }

  .previous-arrow {
    top: 25%;
    font-size: 4rem;
    left: 4%;
  }

  .past-experience-question-wrapper {
    margin-left: 40%;
  }

  .side-nav {
    width: 200px;
  }

  header {
    height: 900px;
  }

  .longform-text {
    width: 300px;
    padding-bottom: 3%;
  }

  .longform-text-left {
    width: 350px;
    margin-left: 9%;
  }

  .no-path-delcared-text {
    margin-top: 50%;
    font-size: 25px;
  }

  .no-path-delcared-text p {
    margin-top: 10%;
  }

  .resources-group-header {
    font-size: 24px;
    margin-bottom: 7%;
    margin-top: 7%;
  }

  .resources-group p {
    font-size: 19px;
    margin-bottom: 4%;
  }

  .mtn-logo {
    width: 40px;
    height: 30px;
  }

  .menu-more-links {
    font-size: 30px;
    left: 80%;
    top: 4%;
    position: absolute;
    line-height: 160%;
    display: initial;
  }

  h5 {
    font-size: 30px;
  }

  .header-links {
    display: none;
  }

  /* NOTE: this overrides the font size for questionaire options text */
  [type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    font-size: 1.0rem;
  }

  /* NOTE: this overrides the font size for questionaire options text */
  [type="checkbox"]+label {
    font-size: 1.0rem;
  }

  /* BEGIN new design */
  .header-links-large {
    display: none;
  }

  .bike-divider {
    margin-left: 80px;
    width: 80%;
    margin-bottom: 7%;
    padding-bottom: 7%;
  }
  /* END new design */
}



/* iPhone 6Plus */
@media only screen and (max-width: 414px) {
  .header-text {
    padding-top: 230px;
    top: auto;
    left: auto;
    width: 400px;
    bottom: auto;
    transform: none;
    padding-left: 7px;
  }

  h3 {
    font-size: 25px;
  }

  .usage-type-question-wrapper {
    margin-left: 36%;
  }

  .previous-arrow {
    top: 25%;
    font-size: 4rem;
    left: 4%;
  }

  h5 {
    font-size: 20px;
  }

  .side-nav {
    width: 200px;
  }

  .page-title {
    padding-top: 18%;
    padding-bottom: 10%;
  }

  .longform-text {
    width: 300px;
    padding-bottom: 3%;
  }

  .longform-text-left {
    width: 300px;
    margin-left: 6%;
  }


  /* hompeage font needed to be smaller */
  h2 {
    font-size: 25px;
  }

  /* bc viewport height doesnt work on safari mobile */
  header {
    height: 1000px;
  }

  .bike-display {
    width: 80%;
  }

  .no-path-delcared-text {
    margin-top: 50%;
    font-size: 25px;
  }

  .no-path-delcared-text p {
    margin-top: 10%;
  }

  .resources-group-header {
    font-size: 29px;
    margin-bottom: 7%;
    margin-top: 7%;
  }

  .resources-group p {
    font-size: 25px;
    margin-bottom: 4%;
    margin-left: 4%;
  }

  .resources-group i {
    font-size: 2.4rem;
  }

  .bike-page-cards .card {
    margin-left: 24%;
  }

  .mtn-logo {
    width: 30px;
    height: 20px;
  }

  .menu-more-links {
    font-size: 20px;
    left: 80%;
    top: 4%;
    position: absolute;
    padding-bottom: 1%;
    display: initial;
  }

  .header-links {
    display: none;
  }

  /* BEGIN response design for get started styles*/
  .bike-display {
    text-align: center;
  }

  .bike-divider {
    margin-left: 40px;
    width: 80%;
    padding-bottom: 5%;
    margin-bottom: 7%;
  }
  /* END responsive design for get started styles*/
}

/* iPhone 6 */
@media only screen and (max-width: 375px) {
  .header-text {
    padding-top: 230px;
    top: auto;
    left: auto;
    width: 400px;
    bottom: auto;
    transform: none;
    padding-left: 7px;
  }

  h3 {
    font-size: 25px;
  }

  .usage-type-question-wrapper {
    margin-left: 36%;
  }

  .previous-arrow {
    top: 20%;
    font-size: 4rem;
    left: 4%;
  }

  h5 {
    font-size: 18px;
  }

  .side-nav {
    width: 200px;
  }

  .page-title {
    padding-top: 20%;
    padding-bottom: 10%;
  }

  .page-title-subheader {
    padding-top: 7%;
  }

  .longform-text {
    padding-bottom: 3%;
    width: 300px;
  }

  .longform-text-left {
    width: 340px;
  }


  /* hompeage font needed to be smaller */
  h2 {
    font-size: 25px;
  }

  /* bc viewport height doesnt work on safari mobile */
  header {
    height: 1000px;
  }

  .bike-display {
    width: 80%;
  }

  .resources-group i {
    font-size: 2em;
  }

  .no-path-delcared-text {
    margin-top: 50%;
    font-size: 25px;
  }

  .no-path-delcared-text p {
    margin-top: 10%;
  }

  .resources-group-header {
    font-size: 24px;
    margin-bottom: 7%;
    margin-top: 7%;
  }

  .resources-group p {
    font-size: 19px;
    margin-bottom: 4%;
  }

  .bike-page-cards .card {
    margin-left: 23%;
  }

  .mtn-logo {
    width: 30px;
    height: 20px;
  }

  .menu-more-links {
    font-size: 18px;
    left: 79%;
    top: 28px;
    position: absolute;
    line-height: 160%;
    display: initial;
  }

  .header-links {
    display: none;
  }
}

/* iPhone 5: NOTE: if screen is wider than 480pixels go up one media query. if 480 or less use this */
@media only screen and (max-width: 320px) {
  .header-text {
    width: 260px;
    padding-top: 230px;
    top: auto;
    left: auto;
    width: 400px;
    bottom: auto;
    transform: none;
    padding-left: 7px;
  }

  h3 {
    font-size: 25px;
  }

  .usage-type-question-wrapper {
    margin-left: 36%;
  }

  .snow-sand-question-wrapper {
    margin-left: 34%;
  }

  .past-experience-question-wrapper {
    margin-left: 25%;
  }

  h5 {
    font-size: 16px;
  }

  .side-nav {
    width: 160px;
  }

  .page-title {
    padding-top: 15%;
    padding-bottom: 10%;
  }

  .page-title-subheader {
    padding-top: 7%;
  }

  .longform-text {
    width: 300px;
    padding-bottom: 3%;
  }

  .longform-text-left {
    width: 300px;
    margin-left: 6%;
  }

  /* hompeage font needed to be smaller */
  h2 {
    font-size: 25px;
  }

  /* bc viewport height doesnt work on safari mobile */
  header {
    height: 1000px;
  }

  .side-nav {
    width: 200px;
  }

  .bike-display {
    width: 80%;
  }

  .resources-group i {
    font-size: 2em;
  }

  .resources-group-header {
    font-size: 22px;
    margin-bottom: 7%;
    margin-top: 7%;
  }

  .resources-group p {
    font-size: 19px;
    margin-bottom: 4%;
  }

  .no-path-delcared-text {
    margin-top: 50%;
    font-size: 20px;
  }

  .no-path-delcared-text p {
    margin-top: 10%;
  }

  .bike-page-cards .card {
    margin-left: 18%;
  }

  .mtn-logo {
    width: 30px;
    height: 20px;
  }

  .menu-more-links {
    font-size: 15px;
    left: 80%;
    top: 27px;
    position: absolute;
    line-height: 160%;
    display: initial;
  }

  .header-links {
    display: none;
  }

  [type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
      font-size: 1rem;
  }

  [type="checkbox"]+label {
      font-size: 1rem;
  }

  .bike-divider {
    margin-left: 20px;
    width: 90%;
  }
}
