.spark-logo {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}


.spark-comp-name {
  position: absolute;
  top: 0;
  left: 5%;
  color: white;
  border-bottom: 2px solid #06D6A0;
}

.spark-header-links {
  position: absolute;
  top: 27px;
  left: 37%;
  font-size: 1.64rem;
  color: black;
  width: 60%;
  text-align: center;
}
