* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Avenir', 'cpavenir', helvetica, sans-serif;
}

header {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

label {
  color: black;
}

h3 {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 12px;
  position: relative;
}
h3:before{
    content: "";
    position: absolute;
    width: 75%;
    height: 1px;
    bottom: 0;
    left: 15%;
    border-bottom: 2px solid #26a69a;
}

p.word-for-definition {
  font-weight: 50;
  font-size: 25px;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px solid #26a69a;
}

.page-title {
  padding-bottom: 3%;
  padding-top: 10%;
  text-align: center;
  font-size: 30px;
  color: #2bbbad;
}

#terms {
  margin: 0 auto;
  width: 75%;
}

.terms-icon {
  color: #2bbbad;
}

.defintion {
  padding-top: 1%;
}

h2 {
  font-size: 43.8px;
}

.comp-name {
  position: absolute;
  top: 3%;
  left: 5%;
  color: white;
  border-bottom: 2px solid #2bbbad;
}

.menu-more-links {
  position: absolute;
  top: 4%;
  left: 85%;
  font-size: 1.64rem;
  color: black;
  border-bottom: 2px solid #2bbbad;
}

.previous-arrow {
  position: absolute;
  color: #26a69a;
  top: 50%;
  left: 3%;
  font-size: 6rem;
}

.previous-arrow:hover {
  color: black;
}

#comp-name-questions-page {
  color: black;
}

.question-wrapper {
  margin-top: 2000px;
}

.question-header-wrapper {
  text-align: center;
  position: relative;
}

.multiple-selector-button {
  text-align: center;
}

.question-wrapper-radio {
  margin-top: 2000px;
  text-align: left;
  margin-left: 40%;
}

.next-question {
  text-align: left;
}

h1 { margin: 0; }

.homepage-nav .row {
  margin-bottom: 0;
}

.header-text {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.header-text a {
  color: #62f9b2;
  border-bottom: 2px solid white;
}
