/* BEGIN fonts */
@font-face {
  font-family: 'Octin College';
  src: url('../fonts/octin-college-rg.otf');
}
/* END fonts*/


html, body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Octin College'
}

a .card-action {
  color: #06D6A0;
  text-transform: uppercase;
  font-size: 14px;
}

p {
  font-family: Open Sans;
}

.page-title p {
  font-family: 'Octin College'
}

.collapsible-body span {
  font-family: Open Sans;
}

.collapsible-header {
  font-weight: 600;
}

.card-image {
  height: 231px;
}

.card .card-image img {
  max-width: 100%;
  width: auto;
  margin: auto;
  max-height: 100%;
}


header {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

label {
  color: black;
}

.product-link-wrapper {
  color: black;
}

.products-container {
  width: 100%;
}

h3 {
  font-weight: 300;
  padding-bottom: 12px;
  position: relative;
  border-bottom: 2px solid #06D6A0;
}

.question-header-wrapper h3 {
  border: none;
}


#budget-header-text {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 12px;
  position: relative;
}

.page-title {
  margin-bottom: 3%;
  margin-top: 8%;
  text-align: center;
  font-size: 30px;
  color: #06D6A0;
  font-weight: 500;
}

.no-path-delcared-text {
  margin: 0 auto;
  margin-top: 20%;
  text-align: center;
  font-size: 30px;
  color: #06D6A0;
  font-weight: 500;
  width: 75%;
}

.no-path-delcared-text p {
  margin-top: 5%;
}

.page-title-subheader {
  padding-bottom: 3%;
  padding-top: 5%;
  text-align: center;
  font-size: 30px;
  color: #06D6A0;
  font-weight: 500;
}

.terms {
  margin: 0 auto;
  width: 60%;
}

.terms-icon {
  color: #06D6A0;
}

.bike-display-container {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.bike-display {
  width: 65%;
  display: block;
  margin: 0 auto;
  height: 400px;
}

.bike-divider {
  padding-bottom: 2%;
  margin-bottom: 3%;
  margin-left: 200px;
  border-bottom: 2px solid grey;
  width: 60%;
}

.more-bike-info {
  margin-top: 10%;
}

.longform-text {
  text-align: center;
  width: 900px;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 20px;
}

.card-content p {
  font-family: Open Sans;
}

.longform-text-left {
  width: 900px;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 3%;
  font-size: 20px;
  font-family: Open Sans;
}

.answer-selections-grouping label {
  font-family: Open Sans;
}

h2 {
  font-size: 43.8px;
}

body {
  width: 100%
}

.comp-name {
  position: absolute;
  top: 3%;
  left: 5%;
  color: white;
  border-bottom: 2px solid #06D6A0;
}

.menu-more-links {
  display: none;
  float: right;
  top: 6%;
  left: 85%;
  font-size: 1.64rem;
  color: black;
  border-bottom: 2px solid #06D6A0;
}

.header-links {
  position: absolute;
  top: 8%;
  left: 37%;
  font-size: 1.64rem;
  color: black;
  width: 60%;
  text-align: center;
}

.header-link {
  border-bottom: 2px solid #06D6A0;
  margin-right: 6%;
  color: black
}

.header-links .card {
  width: 18%;
  display: inline;
}

.header-links .card-action {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3%;
  padding-right: 2%;
  display: inline;
}

.menu-header-link {
  font-size: 1.5rem;
}

#comp-name-questions-page {
  color: black;
}

.question-wrapper {
  margin-top: 2000px;
}

.question-header-wrapper {
  text-align: center;
  position: relative;
}

.next-question {
  text-align: left;
}

.header-text {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.header-text a {
  color: #62f9b2;
  border-bottom: 2px solid white;
}

.image-container {
  border: 1px solid black;
  width: 2000px%;
  margin: 0 auto;
  margin-left: -33%;
}

.hompage-link {
  color: black;
}

.a-few-notes-group {
  margin-bottom: 3%;
}

.resources-group-header {
  font-size: 24px;
  margin-bottom: 7%;
  margin-top: 7%;
}

.resources-group p {
  font-size: 19px;
  margin-bottom: 2%;
}

.bike-page-cards .card {
  margin-top: 2%;
  width: 250px;
  margin-left: 40%;
}

.not-displayed {
  display: none;
}

.mtn-logo {
  width: 55px;
  height: 40px;
}

/* BEGIN getting started container styling */

i.medium {
  position: relative;
  top: 5%;
  font-size: 4rem;
  /*NOTE: this is the greatest thing ever*/
  vertical-align: middle;
}
/* END getting started container styling */

 #dropdown1 {
   z-index: 5;
 }

.active-sport {
  border-bottom: 2px solid #06D6A0;
}

.bike-row-display {
  text-align: center;
}

.container .bike-row-display {
  margin-left: 2%;
}

.about-container {
  position: relative;
  float: right;
  height: 100%;
  width: 50%;
  font-size: 30px;
  background: white;
  padding-left: 30px;
  padding-right: 40px;
  z-index: -1;
}

.about-container-text-wrapper {
  position: relative;
  top: 90px;
  width: 580px;
}

.about-container-text-wrapper p {
  font-family: Octin College;
}

.about-container-text-wrapper div {
 font-family: Open Sans;
 font-size: 14px;
 line-height: 1.7;
}

.new-nav-container {
   position: absolute;
   width: 1200px;
   top: 10px;
   left: 50px;
   z-index: 100;
}

.new-nav-container #comp-name-questions-page {
  display: inline;
  margin-right: 43%;
}

.new-nav-container .font-black {
  font-size: 18px;
  color: black;
}

.new-nav-container .font-white {
  font-size: 18px;
  color: white;
}

.dictionary-header-container img.noun-icon {
  width: 40px;
  height: 35px;
  margin-left: 180px;
  margin-top: 50px;
}
